<html>
  <body>
    <div>akio0911</div>
    <div>チーム1 チーム2</div>
    <div>定型文選択</div>
    <div>「I'm hit!!」（撃たれた）</div>
    <div>「3F交戦中！」</div>
    <div>「2F交戦中！」</div>
    <div>「1F交戦中！」</div>
    <div>「3F制圧！」</div>
    <div>「2F制圧！」</div>
    <div>「1F制圧！」</div>
    <div>「GAME START」</div>
    <div>「GAME OVER」</div>
    <div>投稿ボタン</div>
  </body>
</html>
